@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes apparition {
  0% {
    transform: translateY(30%);
    opacity: 0%;
  }
  80% {
    transform: translateY(0);
    opacity: 50%;
  }
  90% {
    transform: translateY(-15%);
    opacity: 70%;
  }
  100% {
    transform: translateY(-30%);
    opacity: 100%;
  }
}
@keyframes marquage {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@keyframes spinner {
  100% {
    transform: scale(0, 0);
  }
}
@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reduction {
  from {
    width: 75%;
  }
  40% {
    width: 75%;
  }
  to {
    width: 70%;
  }
}
@keyframes refresh {
  from {
    margin-right: 4px;
  }
  50% {
    margin-right: 3px;
  }
  to {
    margin-right: 4px;
  }
}
footer {
  padding: 2px 0 0 20px;
  margin-top: -15px;
  background-color: #363636;
  height: 170px;
}
footer p {
  font-family: Shrikhand;
  color: white;
  font-size: 17px;
}
footer ul li {
  list-style-type: none;
  text-decoration: none;
  margin: 0 0 5px -35px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li .fa-utensils {
  margin-right: 17px;
  color: white;
}
footer ul li .fa-handshake {
  margin-right: 10px;
  color: white;
}

header {
  background-color: #f7f7f7;
  border-radius: 15px 15px 0 0;
  display: flex;
  padding: 10px 0 0 20px;
}
header .fa-arrow-left {
  color: black;
  margin: 20px 30px 0 0;
}
@media (max-width: 360px) {
  header .fa-arrow-left {
    margin-top: 15px;
  }
}
@media (max-width: 300px) {
  header .fa-arrow-left {
    margin-top: 10px;
  }
}
header .logo {
  margin-bottom: 15px;
  padding-top: 10px;
}
header .logo #logo {
  width: 55%;
}

@media (max-width: 999px) {
  header {
    width: 96%;
    background-color: initial;
  }
}
@media (max-width: 320px) {
  header {
    width: 95%;
  }
}
.centre .image #restaurant {
  width: 660px;
  margin-left: 175px;
}
@media (max-width: 999px) {
  .centre .image #restaurant {
    width: 96%;
    margin-left: 2px;
    margin-top: -55%;
    position: absolute;
  }
}
@media (max-width: 320px) {
  .centre .image #restaurant {
    margin-left: 1px;
    margin-top: -54%;
  }
}
.centre .carte {
  width: auto;
  height: 415px;
  background-color: #f7f7f7;
  border-radius: 0 0 15px 15px;
  padding-left: 20px;
}
.centre .carte .tete {
  display: flex;
}
.centre .carte .tete #coeur-bord {
  padding-top: 17px;
  margin-right: -21px;
  position: relative;
  z-index: 2;
  height: 17px;
}
.centre .carte .tete #coeur-bord:hover + #coeur {
  opacity: 1;
}
.centre .carte .tete #coeur {
  padding-top: 17px;
  cursor: default;
  position: relative;
  z-index: 1;
  height: 17px;
  opacity: 0;
  transition: opacity 1000ms;
  background: linear-gradient(#FF79DA, 50%, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.centre .carte .tete p {
  font-family: Shrikhand;
  font-size: 30px;
  margin: 5px 20px 0 0;
}
@media (max-width: 999px) {
  .centre .carte .tete p {
    margin-bottom: 20px;
  }
}
@media (max-width: 372px) {
  .centre .carte .tete p {
    font-size: 27px;
  }
}
@media (max-width: 350px) {
  .centre .carte .tete p {
    font-size: 24px;
  }
}
@media (max-width: 318px) {
  .centre .carte .tete p {
    font-size: 22px;
  }
}
@media (max-width: 302px) {
  .centre .carte .tete p {
    font-size: 20px;
  }
}
.centre .carte .menu {
  margin-top: 20px;
  margin-bottom: -20px;
  display: flex;
}
.centre .carte .menu .entree {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in;
}
.centre .carte .menu .entree #text1 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .entree p {
  font-size: 16px;
}
.centre .carte .menu .entree .tartare, .centre .carte .menu .entree .veloute, .centre .carte .menu .entree .bouchee {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .tartare .gauche, .centre .carte .menu .entree .veloute .gauche, .centre .carte .menu .entree .bouchee .gauche {
  width: 63%;
}
.centre .carte .menu .entree .tartare .gauche h2, .centre .carte .menu .entree .veloute .gauche h2, .centre .carte .menu .entree .bouchee .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .tartare .gauche h2, .centre .carte .menu .entree .veloute .gauche h2, .centre .carte .menu .entree .bouchee .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .entree .tartare .gauche p, .centre .carte .menu .entree .veloute .gauche p, .centre .carte .menu .entree .bouchee .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .tartare .gauche p, .centre .carte .menu .entree .veloute .gauche p, .centre .carte .menu .entree .bouchee .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .entree .tartare .droite, .centre .carte .menu .entree .veloute .droite, .centre .carte .menu .entree .bouchee .droite {
  display: flex;
}
.centre .carte .menu .entree .tartare .droite h2, .centre .carte .menu .entree .veloute .droite h2, .centre .carte .menu .entree .bouchee .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .tartare .droite h2, .centre .carte .menu .entree .veloute .droite h2, .centre .carte .menu .entree .bouchee .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .entree .tartare .droite span, .centre .carte .menu .entree .veloute .droite span, .centre .carte .menu .entree .bouchee .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .entree .tartare .droite .fa-check-circle, .centre .carte .menu .entree .veloute .droite .fa-check-circle, .centre .carte .menu .entree .bouchee .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .tartare:hover span, .centre .carte .menu .entree .veloute:hover span, .centre .carte .menu .entree .bouchee:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .tartare:hover span .fa-check-circle, .centre .carte .menu .entree .veloute:hover span .fa-check-circle, .centre .carte .menu .entree .bouchee:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .tartare:hover .droite h2, .centre .carte .menu .entree .veloute:hover .droite h2, .centre .carte .menu .entree .bouchee:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .entree .tartare:hover .gauche, .centre .carte .menu .entree .veloute:hover .gauche, .centre .carte .menu .entree .bouchee:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .entree .tartare:hover .gauche h2, .centre .carte .menu .entree .veloute:hover .gauche h2, .centre .carte .menu .entree .bouchee:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .tartare:hover .gauche p, .centre .carte .menu .entree .veloute:hover .gauche p, .centre .carte .menu .entree .bouchee:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .bouchee {
  margin-top: 0px;
  animation: apparition 1800ms 500ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .bouchee .gauche {
  width: 63%;
}
.centre .carte .menu .entree .bouchee .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .bouchee .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .entree .bouchee .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .bouchee .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .entree .bouchee .droite {
  display: flex;
}
.centre .carte .menu .entree .bouchee .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .bouchee .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .entree .bouchee .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .entree .bouchee .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .bouchee:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .bouchee:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .bouchee:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .entree .bouchee:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .entree .bouchee:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .bouchee:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .veloute {
  margin-top: 0px;
  animation: apparition 1800ms 800ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .veloute .gauche {
  width: 63%;
}
.centre .carte .menu .entree .veloute .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .veloute .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .entree .veloute .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .veloute .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .entree .veloute .droite {
  display: flex;
}
.centre .carte .menu .entree .veloute .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .veloute .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .entree .veloute .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .entree .veloute .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .veloute:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .veloute:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .veloute:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .entree .veloute:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .entree .veloute:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .veloute:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in 1400ms;
}
.centre .carte .menu .plats #text2 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .plats p {
  font-size: 16px;
}
.centre .carte .menu .plats .poulet, .centre .carte .menu .plats .cote, .centre .carte .menu .plats .langouste {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 1400ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .poulet .gauche, .centre .carte .menu .plats .cote .gauche, .centre .carte .menu .plats .langouste .gauche {
  width: 63%;
}
.centre .carte .menu .plats .poulet .gauche h2, .centre .carte .menu .plats .cote .gauche h2, .centre .carte .menu .plats .langouste .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .poulet .gauche h2, .centre .carte .menu .plats .cote .gauche h2, .centre .carte .menu .plats .langouste .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .plats .poulet .gauche p, .centre .carte .menu .plats .cote .gauche p, .centre .carte .menu .plats .langouste .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .poulet .gauche p, .centre .carte .menu .plats .cote .gauche p, .centre .carte .menu .plats .langouste .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .plats .poulet .droite, .centre .carte .menu .plats .cote .droite, .centre .carte .menu .plats .langouste .droite {
  display: flex;
}
.centre .carte .menu .plats .poulet .droite h2, .centre .carte .menu .plats .cote .droite h2, .centre .carte .menu .plats .langouste .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .poulet .droite h2, .centre .carte .menu .plats .cote .droite h2, .centre .carte .menu .plats .langouste .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .plats .poulet .droite span, .centre .carte .menu .plats .cote .droite span, .centre .carte .menu .plats .langouste .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .plats .poulet .droite .fa-check-circle, .centre .carte .menu .plats .cote .droite .fa-check-circle, .centre .carte .menu .plats .langouste .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats .poulet:hover span, .centre .carte .menu .plats .cote:hover span, .centre .carte .menu .plats .langouste:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .poulet:hover span .fa-check-circle, .centre .carte .menu .plats .cote:hover span .fa-check-circle, .centre .carte .menu .plats .langouste:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .poulet:hover .droite h2, .centre .carte .menu .plats .cote:hover .droite h2, .centre .carte .menu .plats .langouste:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .plats .poulet:hover .gauche, .centre .carte .menu .plats .cote:hover .gauche, .centre .carte .menu .plats .langouste:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .plats .poulet:hover .gauche h2, .centre .carte .menu .plats .cote:hover .gauche h2, .centre .carte .menu .plats .langouste:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .poulet:hover .gauche p, .centre .carte .menu .plats .cote:hover .gauche p, .centre .carte .menu .plats .langouste:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .langouste {
  animation: apparition 1800ms 1700ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .langouste .gauche {
  width: 63%;
}
.centre .carte .menu .plats .langouste .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .langouste .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .plats .langouste .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .langouste .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .plats .langouste .droite {
  display: flex;
}
.centre .carte .menu .plats .langouste .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .langouste .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .plats .langouste .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .plats .langouste .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats .langouste:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .langouste:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .langouste:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .plats .langouste:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .plats .langouste:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .langouste:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .cote {
  animation: apparition 1800ms 2000ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .cote .gauche {
  width: 63%;
}
.centre .carte .menu .plats .cote .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .cote .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .plats .cote .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .cote .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .plats .cote .droite {
  display: flex;
}
.centre .carte .menu .plats .cote .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .cote .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .plats .cote .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .plats .cote .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats .cote:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .cote:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .cote:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .plats .cote:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .plats .cote:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .cote:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in 2600ms;
}
.centre .carte .menu .desserts #text3 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts #text3 {
    animation: refresh 1ms infinite;
  }
}
.centre .carte .menu .desserts p {
  font-size: 16px;
}
.centre .carte .menu .desserts .farandole {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 2600ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .farandole .gauche {
  width: 63%;
}
.centre .carte .menu .desserts .farandole .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .farandole .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .desserts .farandole .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .farandole .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .desserts .farandole .droite {
  display: flex;
}
.centre .carte .menu .desserts .farandole .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .farandole .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .desserts .farandole .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .desserts .farandole .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .desserts .farandole:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .farandole:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .farandole:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .desserts .farandole:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .desserts .farandole:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .farandole:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .creme {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 2900ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .creme .gauche {
  width: 63%;
}
.centre .carte .menu .desserts .creme .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .creme .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .desserts .creme .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .creme .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .desserts .creme .droite {
  display: flex;
}
.centre .carte .menu .desserts .creme .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .creme .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .desserts .creme .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .desserts .creme .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .desserts .creme:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .creme:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .creme:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .desserts .creme:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .desserts .creme:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .creme:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .tiramisu {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 3200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .tiramisu .gauche {
  width: 63%;
}
.centre .carte .menu .desserts .tiramisu .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .tiramisu .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .desserts .tiramisu .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .tiramisu .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .desserts .tiramisu .droite {
  display: flex;
}
.centre .carte .menu .desserts .tiramisu .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .tiramisu .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .desserts .tiramisu .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .desserts .tiramisu .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .desserts .tiramisu:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .tiramisu:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .tiramisu:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .desserts .tiramisu:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .desserts .tiramisu:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .tiramisu:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 999px) {
  .centre .carte .menu {
    display: initial;
  }
}
.centre .carte .btn a {
  background: linear-gradient(#FF79DA, 50%, #9356DC);
  box-shadow: 0px 10px 16px -10px rgba(97, 97, 97, 0.83);
  border-radius: 20px;
  padding: 14px 20px 14px 20px;
  width: 6%;
  color: #f5f5f5;
  font-size: 13px;
  text-decoration: none;
}
.centre .carte .btn a:hover {
  filter: brightness(1.1);
  box-shadow: 0px 10px 16px -5px rgba(97, 97, 97, 0.83);
}
@media (max-width: 999px) {
  .centre .carte .btn {
    margin-left: 50%;
  }
}
@media (max-width: 850px) {
  .centre .carte .btn {
    margin-left: 40%;
  }
}
@media (max-width: 350px) {
  .centre .carte .btn {
    margin-left: 35%;
  }
}
@media (max-width: 330px) {
  .centre .carte .btn {
    margin-left: 27%;
  }
}
@media (max-width: 999px) {
  .centre .carte {
    height: 955px;
    width: 96%;
    position: relative;
    margin-top: 55%;
    border-radius: 40px 40px 0 0;
    padding-top: 20px;
  }
}
@media (max-width: 320px) {
  .centre .carte {
    width: 95%;
  }
}

.menu + a {
  text-decoration: none;
}

@media (max-width: 999px) {
  footer {
    width: 96%;
    margin-top: 5px;
  }
}
@media (max-width: 320px) {
  footer {
    width: 95%;
  }
}

/*# sourceMappingURL=delice.css.map */
