@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes apparition {
  0% {
    transform: translateY(30%);
    opacity: 0%;
  }
  80% {
    transform: translateY(0);
    opacity: 50%;
  }
  90% {
    transform: translateY(-15%);
    opacity: 70%;
  }
  100% {
    transform: translateY(-30%);
    opacity: 100%;
  }
}
@keyframes marquage {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@keyframes spinner {
  100% {
    transform: scale(0, 0);
  }
}
@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  padding: 2px 0 0 20px;
  margin-top: -15px;
  background-color: #363636;
  height: 170px;
}
footer p {
  font-family: Shrikhand;
  color: white;
  font-size: 17px;
}
footer ul li {
  list-style-type: none;
  text-decoration: none;
  margin: 0 0 5px -35px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li .fa-utensils {
  margin-right: 17px;
  color: white;
}
footer ul li .fa-handshake {
  margin-right: 10px;
  color: white;
}

header {
  background-color: #f7f7f7;
  border-radius: 15px 15px 0 0;
  display: flex;
  padding: 10px 0 0 20px;
}
header .fa-arrow-left {
  color: black;
  margin: 20px 30px 0 0;
}
@media (max-width: 360px) {
  header .fa-arrow-left {
    margin-top: 15px;
  }
}
@media (max-width: 300px) {
  header .fa-arrow-left {
    margin-top: 10px;
  }
}
header .logo {
  margin-bottom: 15px;
  padding-top: 10px;
}
header .logo #logo {
  width: 55%;
}

@media (max-width: 999px) {
  header {
    width: 98%;
  }
}
.centre .image #restaurant {
  width: 660px;
  margin-left: 175px;
}
@media (max-width: 999px) {
  .centre .image #restaurant {
    width: 100%;
    margin-left: 0px;
  }
}
.centre .carte {
  width: auto;
  height: 415px;
  background-color: #f7f7f7;
  border-radius: 0 0 15px 15px;
  padding-left: 20px;
}
.centre .carte .tete {
  display: flex;
}
.centre .carte .tete #coeur-bord {
  padding-top: 17px;
  margin-right: -21px;
  position: relative;
  z-index: 2;
  height: 17px;
}
.centre .carte .tete #coeur-bord:hover + #coeur {
  opacity: 1;
}
.centre .carte .tete #coeur {
  padding-top: 17px;
  cursor: default;
  position: relative;
  z-index: 1;
  height: 17px;
  opacity: 0;
  transition: opacity 1000ms;
  background: linear-gradient(#FF79DA, 50%, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.centre .carte .tete p {
  font-family: Shrikhand;
  font-size: 30px;
  margin: 5px 20px 0 0;
}
@media (max-width: 999px) {
  .centre .carte .tete p {
    margin-bottom: 20px;
  }
}
@media (max-width: 372px) {
  .centre .carte .tete p {
    font-size: 27px;
  }
}
@media (max-width: 350px) {
  .centre .carte .tete p {
    font-size: 24px;
  }
}
@media (max-width: 318px) {
  .centre .carte .tete p {
    font-size: 22px;
  }
}
@media (max-width: 302px) {
  .centre .carte .tete p {
    font-size: 20px;
  }
}
.centre .carte .menu {
  margin-top: 20px;
  margin-bottom: -20px;
  display: flex;
}
.centre .carte .menu .entree {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in;
}
.centre .carte .menu .entree #text1 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .entree p {
  font-size: 16px;
}
.centre .carte .menu .entree .tartare, .centre .carte .menu .entree .soupe, .centre .carte .menu .entree .veloute {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .tartare:hover span, .centre .carte .menu .entree .soupe:hover span, .centre .carte .menu .entree .veloute:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .tartare:hover span .fa-check-circle, .centre .carte .menu .entree .soupe:hover span .fa-check-circle, .centre .carte .menu .entree .veloute:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .tartare:hover .text .prix, .centre .carte .menu .entree .soupe:hover .text .prix, .centre .carte .menu .entree .veloute:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .entree .tartare .text, .centre .carte .menu .entree .soupe .text, .centre .carte .menu .entree .veloute .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
  display: inline;
  margin-right: 5px;
}
.centre .carte .menu .entree .tartare .text .inline h2, .centre .carte .menu .entree .soupe .text .inline h2, .centre .carte .menu .entree .veloute .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .tartare .text .inline h2, .centre .carte .menu .entree .soupe .text .inline h2, .centre .carte .menu .entree .veloute .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .entree .tartare .text .inline p, .centre .carte .menu .entree .soupe .text .inline p, .centre .carte .menu .entree .veloute .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .tartare .text .inline h2, .centre .carte .menu .entree .soupe .text .inline h2, .centre .carte .menu .entree .veloute .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 649px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 416px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 193px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 68px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 63px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 28px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 6px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: -25px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .entree .tartare .text .inline, .centre .carte .menu .entree .soupe .text .inline, .centre .carte .menu .entree .veloute .text .inline {
    margin-right: -33px;
  }
}
.centre .carte .menu .entree .tartare .text .prix, .centre .carte .menu .entree .soupe .text .prix, .centre .carte .menu .entree .veloute .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .entree .tartare .text .prix h2, .centre .carte .menu .entree .soupe .text .prix h2, .centre .carte .menu .entree .veloute .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .entree .tartare span, .centre .carte .menu .entree .soupe span, .centre .carte .menu .entree .veloute span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .entree .tartare .fa-check-circle, .centre .carte .menu .entree .soupe .fa-check-circle, .centre .carte .menu .entree .veloute .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .tartare, .centre .carte .menu .entree .soupe, .centre .carte .menu .entree .veloute {
    width: auto;
  }
}
.centre .carte .menu .entree .veloute {
  margin-top: 0px;
  animation: apparition 1800ms 500ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .veloute:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .veloute:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .veloute:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .entree .veloute .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .entree .veloute .text .inline {
  display: inline;
  margin-right: -5px;
}
.centre .carte .menu .entree .veloute .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .veloute .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .entree .veloute .text .inline p {
  font-size: 13px;
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .veloute .text .inline p {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 639px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 406px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 183px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 58px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 53px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: 18px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: -4px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: -36px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .entree .veloute .text .inline {
    margin-right: -31px;
  }
}
.centre .carte .menu .entree .veloute .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .entree .veloute .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .entree .veloute span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .entree .veloute .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .soupe {
  margin-top: 0px;
  animation: apparition 1800ms 800ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .soupe:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .soupe:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .soupe:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .entree .soupe .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .entree .soupe .text .inline {
  display: inline;
  margin-right: 70px;
}
.centre .carte .menu .entree .soupe .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .soupe .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .entree .soupe .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .soupe .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: 714px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: 481px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: 256px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: 130px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: 126px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: 91px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: 71px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: 37px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .entree .soupe .text .inline {
    margin-right: -29px;
  }
}
.centre .carte .menu .entree .soupe .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .entree .soupe .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .entree .soupe span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .entree .soupe .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in 1400ms;
}
.centre .carte .menu .plats #text2 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .plats p {
  font-size: 16px;
}
.centre .carte .menu .plats .coquilles, .centre .carte .menu .plats .pigeonneau, .centre .carte .menu .plats .magret {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 1400ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .coquilles:hover span, .centre .carte .menu .plats .pigeonneau:hover span, .centre .carte .menu .plats .magret:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .coquilles:hover span .fa-check-circle, .centre .carte .menu .plats .pigeonneau:hover span .fa-check-circle, .centre .carte .menu .plats .magret:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .coquilles:hover .text .prix, .centre .carte .menu .plats .pigeonneau:hover .text .prix, .centre .carte .menu .plats .magret:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .plats .coquilles .text, .centre .carte .menu .plats .pigeonneau .text, .centre .carte .menu .plats .magret .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
  display: inline;
  margin-right: -15px;
}
.centre .carte .menu .plats .coquilles .text .inline h2, .centre .carte .menu .plats .pigeonneau .text .inline h2, .centre .carte .menu .plats .magret .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .coquilles .text .inline h2, .centre .carte .menu .plats .pigeonneau .text .inline h2, .centre .carte .menu .plats .magret .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .plats .coquilles .text .inline p, .centre .carte .menu .plats .pigeonneau .text .inline p, .centre .carte .menu .plats .magret .text .inline p {
  font-size: 13px;
}
@media (max-width: 320px) {
  .centre .carte .menu .plats .coquilles .text .inline p, .centre .carte .menu .plats .pigeonneau .text .inline p, .centre .carte .menu .plats .magret .text .inline p {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: 633px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: 401px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: 173px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: 48px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: 43px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: 8px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: -9px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: -12px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .plats .coquilles .text .inline, .centre .carte .menu .plats .pigeonneau .text .inline, .centre .carte .menu .plats .magret .text .inline {
    margin-right: -26px;
  }
}
.centre .carte .menu .plats .coquilles .text .prix, .centre .carte .menu .plats .pigeonneau .text .prix, .centre .carte .menu .plats .magret .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .plats .coquilles .text .prix h2, .centre .carte .menu .plats .pigeonneau .text .prix h2, .centre .carte .menu .plats .magret .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .plats .coquilles span, .centre .carte .menu .plats .pigeonneau span, .centre .carte .menu .plats .magret span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .plats .coquilles .fa-check-circle, .centre .carte .menu .plats .pigeonneau .fa-check-circle, .centre .carte .menu .plats .magret .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .plats .coquilles, .centre .carte .menu .plats .pigeonneau, .centre .carte .menu .plats .magret {
    width: auto;
  }
}
.centre .carte .menu .plats .magret {
  animation: apparition 1800ms 1700ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .magret:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .magret:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .magret:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .plats .magret .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .plats .magret .text .inline {
  display: inline;
  margin-right: 5px;
}
.centre .carte .menu .plats .magret .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .magret .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .plats .magret .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .magret .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: 649px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: 416px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: 193px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: 68px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: 63px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: 28px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: 12px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: 13px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .plats .magret .text .inline {
    margin-right: -25px;
  }
}
.centre .carte .menu .plats .magret .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .plats .magret .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .plats .magret span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .plats .magret .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats .pigeonneau {
  animation: apparition 1800ms 2000ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .pigeonneau:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .pigeonneau:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .pigeonneau:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .plats .pigeonneau .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .plats .pigeonneau .text .inline {
  display: inline;
  margin-right: -10px;
}
.centre .carte .menu .plats .pigeonneau .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .pigeonneau .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .plats .pigeonneau .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .pigeonneau .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: 636px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: 402px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: 178px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: 52px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: 49px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: 14px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: -4px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: -41px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .plats .pigeonneau .text .inline {
    margin-right: -24px;
  }
}
.centre .carte .menu .plats .pigeonneau .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .plats .pigeonneau .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .plats .pigeonneau span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .plats .pigeonneau .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .desserts {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in 2600ms;
}
.centre .carte .menu .desserts #text3 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .desserts p {
  font-size: 16px;
}
.centre .carte .menu .desserts .petales {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 2600ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .petales:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .petales:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .petales:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .desserts .petales .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .desserts .petales .text .inline {
  display: inline;
  margin-right: 8px;
}
.centre .carte .menu .desserts .petales .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .petales .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .desserts .petales .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .petales .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: 656px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: 422px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: 193px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: 70px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: 65px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: 30px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: 16px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: -25px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .desserts .petales .text .inline {
    margin-right: -30px;
  }
}
.centre .carte .menu .desserts .petales .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .desserts .petales .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .desserts .petales span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .desserts .petales .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .petales {
    width: auto;
  }
}
.centre .carte .menu .desserts .fondant {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 2900ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .fondant:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .fondant:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .fondant:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .desserts .fondant .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .desserts .fondant .text .inline {
  display: inline;
  margin-right: 42px;
}
.centre .carte .menu .desserts .fondant .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .fondant .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .desserts .fondant .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .fondant .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: 689px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: 456px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: 228px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: 103px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: 100px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: 65px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: 49px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: 9px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .desserts .fondant .text .inline {
    margin-right: -30px;
  }
}
.centre .carte .menu .desserts .fondant .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .desserts .fondant .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .desserts .fondant span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .desserts .fondant .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .fondant {
    width: auto;
  }
}
.centre .carte .menu .desserts .millefeuilles {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 3200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .millefeuilles:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .millefeuilles:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .millefeuilles:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .desserts .millefeuilles .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .desserts .millefeuilles .text .inline {
  display: inline;
  margin-right: 22px;
}
.centre .carte .menu .desserts .millefeuilles .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .desserts .millefeuilles .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: 669px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: 436px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: 208px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: 83px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: 80px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: 45px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: 29px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: -11px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .desserts .millefeuilles .text .inline {
    margin-right: -30px;
  }
}
.centre .carte .menu .desserts .millefeuilles .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .desserts .millefeuilles .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .desserts .millefeuilles span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .desserts .millefeuilles .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .millefeuilles {
    width: auto;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu {
    display: initial;
  }
}
.centre .carte .btn a {
  background: linear-gradient(#FF79DA, 50%, #9356DC);
  box-shadow: 0px 10px 16px -10px rgba(97, 97, 97, 0.83);
  border-radius: 20px;
  padding: 14px 20px 14px 20px;
  width: 6%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f5f5f5;
  font-size: 13px;
  text-decoration: none;
}
.centre .carte .btn a:hover {
  filter: brightness(1.1);
  box-shadow: 0px 10px 16px -5px rgba(97, 97, 97, 0.83);
}
@media (max-width: 999px) {
  .centre .carte {
    height: 910px;
    width: 98%;
  }
}

.menu + a {
  text-decoration: none;
}

/*# sourceMappingURL=francaise.css.map */
