@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes apparition {
  0% {
    transform: translateY(30%);
    opacity: 0%;
  }
  80% {
    transform: translateY(0);
    opacity: 50%;
  }
  90% {
    transform: translateY(-15%);
    opacity: 70%;
  }
  100% {
    transform: translateY(-30%);
    opacity: 100%;
  }
}
@keyframes marquage {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@keyframes spinner {
  100% {
    transform: scale(0, 0);
  }
}
@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  padding: 2px 0 0 20px;
  margin-top: -15px;
  background-color: #363636;
  height: 170px;
}
footer p {
  font-family: Shrikhand;
  color: white;
  font-size: 17px;
}
footer ul li {
  list-style-type: none;
  text-decoration: none;
  margin: 0 0 5px -35px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li .fa-utensils {
  margin-right: 17px;
  color: white;
}
footer ul li .fa-handshake {
  margin-right: 10px;
  color: white;
}

header {
  background-color: #f7f7f7;
  border-radius: 15px 15px 0 0;
  display: flex;
  padding: 10px 0 0 20px;
}
header .fa-arrow-left {
  color: black;
  margin: 20px 30px 0 0;
}
@media (max-width: 360px) {
  header .fa-arrow-left {
    margin-top: 15px;
  }
}
@media (max-width: 300px) {
  header .fa-arrow-left {
    margin-top: 10px;
  }
}
header .logo {
  margin-bottom: 15px;
  padding-top: 10px;
}
header .logo #logo {
  width: 55%;
}

@media (max-width: 999px) {
  header {
    width: 98%;
  }
}
@media (max-width: 999px) {
  .inline {
    margin-right: 619px;
  }
}
@media (max-width: 768px) {
  .inline {
    margin-right: 396px;
  }
}
@media (max-width: 540px) {
  .inline {
    margin-right: 173px;
  }
}
@media (max-width: 414px) {
  .inline {
    margin-right: 48px;
  }
}
@media (max-width: 411px) {
  .inline {
    margin-right: 43px;
  }
}
@media (max-width: 375px) {
  .inline {
    margin-right: 8px;
  }
}
@media (max-width: 360px) {
  .inline {
    margin-right: -4px;
  }
}
@media (max-width: 320px) {
  .inline {
    margin-right: -45px;
  }
}
@media (max-width: 280px) {
  .inline {
    margin-right: -83px;
  }
}
.centre .image #restaurant {
  width: 550px;
  height: 500px;
  margin-left: 200px;
}
@media (max-width: 999px) {
  .centre .image #restaurant {
    width: 100%;
    height: auto;
    max-height: 600px;
    max-width: 650px;
    margin-left: 0px;
  }
}
.centre .carte {
  width: auto;
  height: 485px;
  background-color: #f7f7f7;
  border-radius: 0 0 15px 15px;
  padding-left: 20px;
}
.centre .carte .tete {
  display: flex;
}
.centre .carte .tete #coeur-bord {
  padding-top: 17px;
  margin-right: -21px;
  position: relative;
  z-index: 2;
  height: 17px;
}
.centre .carte .tete #coeur-bord:hover + #coeur {
  opacity: 1;
}
.centre .carte .tete #coeur {
  padding-top: 17px;
  cursor: default;
  position: relative;
  z-index: 1;
  height: 17px;
  opacity: 0;
  transition: opacity 1000ms;
  background: linear-gradient(#FF79DA, 50%, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.centre .carte .tete p {
  font-family: Shrikhand;
  font-size: 30px;
  margin: 5px 20px 0 0;
}
@media (max-width: 999px) {
  .centre .carte .tete p {
    margin-bottom: 20px;
  }
}
@media (max-width: 372px) {
  .centre .carte .tete p {
    font-size: 26px;
  }
}
@media (max-width: 350px) {
  .centre .carte .tete p {
    font-size: 25px;
  }
}
@media (max-width: 318px) {
  .centre .carte .tete p {
    font-size: 21px;
  }
}
@media (max-width: 302px) {
  .centre .carte .tete p {
    font-size: 20px;
  }
}
.centre .carte .menu {
  margin-top: 20px;
  margin-bottom: -20px;
  display: flex;
}
.centre .carte .menu .entree {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in;
}
.centre .carte .menu .entree #text1 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .entree p {
  font-size: 16px;
}
.centre .carte .menu .entree .ravioles, .centre .carte .menu .entree .foie, .centre .carte .menu .entree .homard, .centre .carte .menu .entree .caviar {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .ravioles:hover span, .centre .carte .menu .entree .foie:hover span, .centre .carte .menu .entree .homard:hover span, .centre .carte .menu .entree .caviar:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .ravioles:hover span .fa-check-circle, .centre .carte .menu .entree .foie:hover span .fa-check-circle, .centre .carte .menu .entree .homard:hover span .fa-check-circle, .centre .carte .menu .entree .caviar:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .ravioles:hover .text .prix, .centre .carte .menu .entree .foie:hover .text .prix, .centre .carte .menu .entree .homard:hover .text .prix, .centre .carte .menu .entree .caviar:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .entree .ravioles .text, .centre .carte .menu .entree .foie .text, .centre .carte .menu .entree .homard .text, .centre .carte .menu .entree .caviar .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
  display: inline;
  margin-right: -24px;
}
.centre .carte .menu .entree .ravioles .text .inline h2, .centre .carte .menu .entree .foie .text .inline h2, .centre .carte .menu .entree .homard .text .inline h2, .centre .carte .menu .entree .caviar .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .ravioles .text .inline h2, .centre .carte .menu .entree .foie .text .inline h2, .centre .carte .menu .entree .homard .text .inline h2, .centre .carte .menu .entree .caviar .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .entree .ravioles .text .inline p, .centre .carte .menu .entree .foie .text .inline p, .centre .carte .menu .entree .homard .text .inline p, .centre .carte .menu .entree .caviar .text .inline p {
  font-size: 13px;
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .ravioles .text .inline p, .centre .carte .menu .entree .foie .text .inline p, .centre .carte .menu .entree .homard .text .inline p, .centre .carte .menu .entree .caviar .text .inline p {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 619px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 396px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 173px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 48px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 43px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 8px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: -4px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 22px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .entree .ravioles .text .inline, .centre .carte .menu .entree .foie .text .inline, .centre .carte .menu .entree .homard .text .inline, .centre .carte .menu .entree .caviar .text .inline {
    margin-right: -13px;
  }
}
.centre .carte .menu .entree .ravioles .text .prix, .centre .carte .menu .entree .foie .text .prix, .centre .carte .menu .entree .homard .text .prix, .centre .carte .menu .entree .caviar .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .entree .ravioles .text .prix h2, .centre .carte .menu .entree .foie .text .prix h2, .centre .carte .menu .entree .homard .text .prix h2, .centre .carte .menu .entree .caviar .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .entree .ravioles span, .centre .carte .menu .entree .foie span, .centre .carte .menu .entree .homard span, .centre .carte .menu .entree .caviar span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .entree .ravioles .fa-check-circle, .centre .carte .menu .entree .foie .fa-check-circle, .centre .carte .menu .entree .homard .fa-check-circle, .centre .carte .menu .entree .caviar .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .ravioles, .centre .carte .menu .entree .foie, .centre .carte .menu .entree .homard, .centre .carte .menu .entree .caviar {
    width: auto;
  }
}
.centre .carte .menu .entree .caviar {
  margin-top: 0px;
  animation: apparition 1800ms 500ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .caviar:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .caviar:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .caviar:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .entree .caviar .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .entree .caviar .text .inline {
  display: inline;
  margin-right: 25px;
}
.centre .carte .menu .entree .caviar .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .caviar .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .entree .caviar .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .caviar .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 668px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 444px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 219px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 97px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 93px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 58px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 45px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: 24px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .entree .caviar .text .inline {
    margin-right: -15px;
  }
}
.centre .carte .menu .entree .caviar .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .entree .caviar .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .entree .caviar span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .entree .caviar .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .homard {
  margin-top: 0px;
  animation: apparition 1800ms 800ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .homard:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .homard:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .homard:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .entree .homard .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .entree .homard .text .inline {
  display: inline;
  margin-right: -20px;
}
.centre .carte .menu .entree .homard .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .homard .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .entree .homard .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .homard .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: 623px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: 397px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: 175px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: 51px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: 47px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: 11px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: -2px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: -42px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .entree .homard .text .inline {
    margin-right: -15px;
  }
}
.centre .carte .menu .entree .homard .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .entree .homard .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .entree .homard span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .entree .homard .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .foie {
  margin-top: 0px;
  animation: apparition 1800ms 1100ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .foie:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .foie:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .foie:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .entree .foie .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .entree .foie .text .inline {
  display: inline;
  margin-right: -24px;
}
.centre .carte .menu .entree .foie .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .foie .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .entree .foie .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .entree .foie .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: 619px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: 396px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: 173px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: 48px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: 43px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: 8px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: -4px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: -45px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .entree .foie .text .inline {
    margin-right: -15px;
  }
}
.centre .carte .menu .entree .foie .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .entree .foie .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .entree .foie span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .entree .foie .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in 1700ms;
}
.centre .carte .menu .plats #text2 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .plats p {
  font-size: 16px;
}
.centre .carte .menu .plats .noix, .centre .carte .menu .plats .mijote, .centre .carte .menu .plats .langoustine {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 1700ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .noix:hover span, .centre .carte .menu .plats .mijote:hover span, .centre .carte .menu .plats .langoustine:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .noix:hover span .fa-check-circle, .centre .carte .menu .plats .mijote:hover span .fa-check-circle, .centre .carte .menu .plats .langoustine:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .noix:hover .text .prix, .centre .carte .menu .plats .mijote:hover .text .prix, .centre .carte .menu .plats .langoustine:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .plats .noix .text, .centre .carte .menu .plats .mijote .text, .centre .carte .menu .plats .langoustine .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
  display: inline;
  margin-right: -33px;
}
.centre .carte .menu .plats .noix .text .inline h2, .centre .carte .menu .plats .mijote .text .inline h2, .centre .carte .menu .plats .langoustine .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .noix .text .inline h2, .centre .carte .menu .plats .mijote .text .inline h2, .centre .carte .menu .plats .langoustine .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .plats .noix .text .inline p, .centre .carte .menu .plats .mijote .text .inline p, .centre .carte .menu .plats .langoustine .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .noix .text .inline h2, .centre .carte .menu .plats .mijote .text .inline h2, .centre .carte .menu .plats .langoustine .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 615px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 392px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 169px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 44px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 39px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 4px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: -8px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: -49px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .plats .noix .text .inline, .centre .carte .menu .plats .mijote .text .inline, .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: -28px;
  }
}
.centre .carte .menu .plats .noix .text .prix, .centre .carte .menu .plats .mijote .text .prix, .centre .carte .menu .plats .langoustine .text .prix {
  margin-right: -25px;
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .plats .noix .text .prix h2, .centre .carte .menu .plats .mijote .text .prix h2, .centre .carte .menu .plats .langoustine .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .plats .noix span, .centre .carte .menu .plats .mijote span, .centre .carte .menu .plats .langoustine span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .plats .noix .fa-check-circle, .centre .carte .menu .plats .mijote .fa-check-circle, .centre .carte .menu .plats .langoustine .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .plats .noix, .centre .carte .menu .plats .mijote, .centre .carte .menu .plats .langoustine {
    width: auto;
  }
}
.centre .carte .menu .plats .langoustine {
  animation: apparition 1800ms 2000ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .langoustine:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .langoustine:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .langoustine:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .plats .langoustine .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .plats .langoustine .text .inline {
  display: inline;
  margin-right: 50px;
}
.centre .carte .menu .plats .langoustine .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .langoustine .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .plats .langoustine .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .langoustine .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 699px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 476px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 253px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 128px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 123px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 88px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 74px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: 35px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .plats .langoustine .text .inline {
    margin-right: -13px;
  }
}
.centre .carte .menu .plats .langoustine .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .plats .langoustine .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .plats .langoustine span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .plats .langoustine .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats .mijote {
  animation: apparition 1800ms 2300ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .mijote:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .mijote:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .mijote:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .plats .mijote .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .plats .mijote .text .inline {
  display: inline;
  margin-right: 2px;
}
.centre .carte .menu .plats .mijote .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .plats .mijote .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .plats .mijote .text .inline p {
  font-size: 13px;
}
@media (max-width: 320px) {
  .centre .carte .menu .plats .mijote .text .inline p {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: 649px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: 426px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: 203px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: 78px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: 73px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: 38px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: 24px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: -15px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .plats .mijote .text .inline {
    margin-right: -14px;
  }
}
.centre .carte .menu .plats .mijote .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .plats .mijote .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .plats .mijote span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .plats .mijote .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .desserts {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in 2900ms;
}
.centre .carte .menu .desserts #text3 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .desserts p {
  font-size: 16px;
}
.centre .carte .menu .desserts .macaron {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 2900ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .macaron:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .macaron:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .macaron:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .desserts .macaron .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .desserts .macaron .text .inline {
  display: inline;
  margin-right: -33px;
}
.centre .carte .menu .desserts .macaron .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .macaron .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .desserts .macaron .text .inline p {
  font-size: 13px;
}
@media (max-width: 320px) {
  .centre .carte .menu .desserts .macaron .text .inline p {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: 613px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: 390px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: 167px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: 42px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: 37px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: 2px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: -12px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: -31px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .desserts .macaron .text .inline {
    margin-right: -16px;
  }
}
.centre .carte .menu .desserts .macaron .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .desserts .macaron .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .desserts .macaron span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .desserts .macaron .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .macaron {
    width: auto;
  }
}
.centre .carte .menu .desserts .baba {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 3200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .baba:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .baba:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .baba:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .desserts .baba .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .desserts .baba .text .inline {
  display: inline;
  margin-right: 30px;
}
.centre .carte .menu .desserts .baba .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .baba .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .desserts .baba .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .baba .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: 679px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: 453px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: 230px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: 108px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: 103px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: 68px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: 54px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: 15px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .desserts .baba .text .inline {
    margin-right: -13px;
  }
}
.centre .carte .menu .desserts .baba .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .desserts .baba .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .desserts .baba span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .desserts .baba .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .baba {
    width: auto;
  }
}
.centre .carte .menu .desserts .tarte {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  height: 60px;
  width: 300px;
  animation: apparition 1800ms 3500ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .tarte:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .tarte:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .tarte:hover .text .prix {
  transform: translateX(40px);
}
.centre .carte .menu .desserts .tarte .text {
  justify-content: space-between;
  display: flex;
}
.centre .carte .menu .desserts .tarte .text .inline {
  display: inline;
  margin-right: 4px;
}
.centre .carte .menu .desserts .tarte .text .inline h2 {
  font-size: 16px;
  margin-bottom: -10px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .tarte .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.centre .carte .menu .desserts .tarte .text .inline p {
  font-size: 13px;
}
@media (max-width: 310px) {
  .centre .carte .menu .desserts .tarte .text .inline h2 {
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: 649px;
  }
}
@media (max-width: 768px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: 426px;
  }
}
@media (max-width: 540px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: 203px;
  }
}
@media (max-width: 414px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: 78px;
  }
}
@media (max-width: 411px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: 73px;
  }
}
@media (max-width: 375px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: 38px;
  }
}
@media (max-width: 360px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: 24px;
  }
}
@media (max-width: 320px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: -15px;
  }
}
@media (max-width: 280px) {
  .centre .carte .menu .desserts .tarte .text .inline {
    margin-right: -13px;
  }
}
.centre .carte .menu .desserts .tarte .text .prix {
  align-self: flex-end;
  transform: translateX(90px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}
.centre .carte .menu .desserts .tarte .text .prix h2 {
  font-size: 14px;
}
.centre .carte .menu .desserts .tarte span {
  background-color: #99E2D0;
  width: 35px;
  height: 35px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 25px;
  padding-left: 13px;
}
.centre .carte .menu .desserts .tarte .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts .tarte {
    width: auto;
  }
}
@media (max-width: 999px) {
  .centre .carte .menu {
    display: initial;
  }
}
.centre .carte .btn a {
  background: linear-gradient(#FF79DA, 50%, #9356DC);
  box-shadow: 0px 10px 16px -10px rgba(97, 97, 97, 0.83);
  border-radius: 20px;
  padding: 14px 20px 14px 20px;
  width: 6%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f5f5f5;
  font-size: 13px;
  text-decoration: none;
}
.centre .carte .btn a:hover {
  filter: brightness(1.1);
  box-shadow: 0px 10px 16px -5px rgba(97, 97, 97, 0.83);
}
@media (max-width: 999px) {
  .centre .carte {
    height: 985px;
    width: 98%;
  }
}

.menu + a {
  text-decoration: none;
}

@media (max-width: 999px) {
  footer {
    width: 98%;
  }
}

/*# sourceMappingURL=note.css.map */
