@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes apparition {
  0% {
    transform: translateY(30%);
    opacity: 0%;
  }
  80% {
    transform: translateY(0);
    opacity: 50%;
  }
  90% {
    transform: translateY(-15%);
    opacity: 70%;
  }
  100% {
    transform: translateY(-30%);
    opacity: 100%;
  }
}
@keyframes marquage {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translate(0px, 0);
  }
}
@keyframes spinner {
  100% {
    transform: scale(0, 0);
  }
}
@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reduction {
  from {
    width: 75%;
  }
  40% {
    width: 75%;
  }
  to {
    width: 70%;
  }
}
@keyframes refresh {
  from {
    margin-right: 4px;
  }
  50% {
    margin-right: 3px;
  }
  to {
    margin-right: 4px;
  }
}
footer {
  padding: 2px 0 0 20px;
  margin-top: -15px;
  background-color: #363636;
  height: 170px;
}
footer p {
  font-family: Shrikhand;
  color: white;
  font-size: 17px;
}
footer ul li {
  list-style-type: none;
  text-decoration: none;
  margin: 0 0 5px -35px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li .fa-utensils {
  margin-right: 17px;
  color: white;
}
footer ul li .fa-handshake {
  margin-right: 10px;
  color: white;
}

header {
  background-color: #f7f7f7;
  border-radius: 15px 15px 0 0;
  display: flex;
  padding: 10px 0 0 20px;
}
header .fa-arrow-left {
  color: black;
  margin: 20px 30px 0 0;
}
@media (max-width: 360px) {
  header .fa-arrow-left {
    margin-top: 15px;
  }
}
@media (max-width: 300px) {
  header .fa-arrow-left {
    margin-top: 10px;
  }
}
header .logo {
  margin-bottom: 15px;
  padding-top: 10px;
}
header .logo #logo {
  width: 55%;
}

@media (max-width: 999px) {
  header {
    width: 96%;
    background-color: initial;
  }
}
@media (max-width: 320px) {
  header {
    width: 95%;
  }
}
.centre .image #restaurant {
  width: 660px;
  margin-left: 175px;
}
@media (max-width: 999px) {
  .centre .image #restaurant {
    width: 96%;
    margin-left: 2px;
    margin-top: -55%;
    position: absolute;
  }
}
@media (max-width: 320px) {
  .centre .image #restaurant {
    margin-left: 1px;
    margin-top: -54%;
  }
}
.centre .carte {
  width: auto;
  height: 415px;
  background-color: #f7f7f7;
  border-radius: 0 0 15px 15px;
  padding-left: 20px;
}
.centre .carte .tete {
  display: flex;
}
.centre .carte .tete #coeur-bord {
  padding-top: 17px;
  margin-right: -21px;
  position: relative;
  z-index: 2;
  height: 17px;
}
.centre .carte .tete #coeur-bord:hover + #coeur {
  opacity: 1;
}
.centre .carte .tete #coeur {
  padding-top: 17px;
  cursor: default;
  position: relative;
  z-index: 1;
  height: 17px;
  opacity: 0;
  transition: opacity 1000ms;
  background: linear-gradient(#FF79DA, 50%, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.centre .carte .tete p {
  font-family: Shrikhand;
  font-size: 30px;
  margin: 5px 20px 0 0;
}
@media (max-width: 999px) {
  .centre .carte .tete p {
    margin-bottom: 20px;
  }
}
@media (max-width: 372px) {
  .centre .carte .tete p {
    font-size: 27px;
  }
}
@media (max-width: 350px) {
  .centre .carte .tete p {
    font-size: 24px;
  }
}
@media (max-width: 318px) {
  .centre .carte .tete p {
    font-size: 22px;
  }
}
@media (max-width: 302px) {
  .centre .carte .tete p {
    font-size: 20px;
  }
}
.centre .carte .menu {
  margin-top: 20px;
  margin-bottom: -20px;
  display: flex;
}
.centre .carte .menu .entree {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in;
}
.centre .carte .menu .entree #text1 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .entree p {
  font-size: 16px;
}
.centre .carte .menu .entree .fricassee, .centre .carte .menu .entree .oeuf, .centre .carte .menu .entree .foie-gras {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.centre .carte .menu .entree .fricassee .gauche, .centre .carte .menu .entree .oeuf .gauche, .centre .carte .menu .entree .foie-gras .gauche {
  width: 63%;
}
.centre .carte .menu .entree .fricassee .gauche h2, .centre .carte .menu .entree .oeuf .gauche h2, .centre .carte .menu .entree .foie-gras .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .fricassee .gauche h2, .centre .carte .menu .entree .oeuf .gauche h2, .centre .carte .menu .entree .foie-gras .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .entree .fricassee .gauche p, .centre .carte .menu .entree .oeuf .gauche p, .centre .carte .menu .entree .foie-gras .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .fricassee .gauche p, .centre .carte .menu .entree .oeuf .gauche p, .centre .carte .menu .entree .foie-gras .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .entree .fricassee .droite, .centre .carte .menu .entree .oeuf .droite, .centre .carte .menu .entree .foie-gras .droite {
  display: flex;
}
.centre .carte .menu .entree .fricassee .droite h2, .centre .carte .menu .entree .oeuf .droite h2, .centre .carte .menu .entree .foie-gras .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .fricassee .droite h2, .centre .carte .menu .entree .oeuf .droite h2, .centre .carte .menu .entree .foie-gras .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .entree .fricassee .droite span, .centre .carte .menu .entree .oeuf .droite span, .centre .carte .menu .entree .foie-gras .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .entree .fricassee .droite .fa-check-circle, .centre .carte .menu .entree .oeuf .droite .fa-check-circle, .centre .carte .menu .entree .foie-gras .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .fricassee:hover span, .centre .carte .menu .entree .oeuf:hover span, .centre .carte .menu .entree .foie-gras:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .fricassee:hover span .fa-check-circle, .centre .carte .menu .entree .oeuf:hover span .fa-check-circle, .centre .carte .menu .entree .foie-gras:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .fricassee:hover .droite h2, .centre .carte .menu .entree .oeuf:hover .droite h2, .centre .carte .menu .entree .foie-gras:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .entree .fricassee:hover .gauche, .centre .carte .menu .entree .oeuf:hover .gauche, .centre .carte .menu .entree .foie-gras:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .entree .fricassee:hover .gauche h2, .centre .carte .menu .entree .oeuf:hover .gauche h2, .centre .carte .menu .entree .foie-gras:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .fricassee:hover .gauche p, .centre .carte .menu .entree .oeuf:hover .gauche p, .centre .carte .menu .entree .foie-gras:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .foie-gras {
  margin-top: 0px;
  animation: apparition 1800ms 500ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .foie-gras .gauche {
  width: 63%;
}
.centre .carte .menu .entree .foie-gras .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .foie-gras .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .entree .foie-gras .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .foie-gras .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .entree .foie-gras .droite {
  display: flex;
}
.centre .carte .menu .entree .foie-gras .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .foie-gras .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .entree .foie-gras .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .entree .foie-gras .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .foie-gras:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .foie-gras:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .foie-gras:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .entree .foie-gras:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .entree .foie-gras:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .foie-gras:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .oeuf {
  margin-top: 0px;
  animation: apparition 1800ms 800ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .entree .oeuf .gauche {
  width: 63%;
}
.centre .carte .menu .entree .oeuf .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .oeuf .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .entree .oeuf .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .oeuf .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .entree .oeuf .droite {
  display: flex;
}
.centre .carte .menu .entree .oeuf .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .entree .oeuf .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .entree .oeuf .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .entree .oeuf .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .entree .oeuf:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .entree .oeuf:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .entree .oeuf:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .entree .oeuf:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .entree .oeuf:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .entree .oeuf:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in 1400ms;
}
.centre .carte .menu .plats #text2 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.centre .carte .menu .plats p {
  font-size: 16px;
}
.centre .carte .menu .plats .filet, .centre .carte .menu .plats .turbot, .centre .carte .menu .plats .parmentier {
  padding-left: 10px;
  margin: 0 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 1400ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .filet .gauche, .centre .carte .menu .plats .turbot .gauche, .centre .carte .menu .plats .parmentier .gauche {
  width: 63%;
}
.centre .carte .menu .plats .filet .gauche h2, .centre .carte .menu .plats .turbot .gauche h2, .centre .carte .menu .plats .parmentier .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .filet .gauche h2, .centre .carte .menu .plats .turbot .gauche h2, .centre .carte .menu .plats .parmentier .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .plats .filet .gauche p, .centre .carte .menu .plats .turbot .gauche p, .centre .carte .menu .plats .parmentier .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .filet .gauche p, .centre .carte .menu .plats .turbot .gauche p, .centre .carte .menu .plats .parmentier .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .plats .filet .droite, .centre .carte .menu .plats .turbot .droite, .centre .carte .menu .plats .parmentier .droite {
  display: flex;
}
.centre .carte .menu .plats .filet .droite h2, .centre .carte .menu .plats .turbot .droite h2, .centre .carte .menu .plats .parmentier .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .filet .droite h2, .centre .carte .menu .plats .turbot .droite h2, .centre .carte .menu .plats .parmentier .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .plats .filet .droite span, .centre .carte .menu .plats .turbot .droite span, .centre .carte .menu .plats .parmentier .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .plats .filet .droite .fa-check-circle, .centre .carte .menu .plats .turbot .droite .fa-check-circle, .centre .carte .menu .plats .parmentier .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats .filet:hover span, .centre .carte .menu .plats .turbot:hover span, .centre .carte .menu .plats .parmentier:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .filet:hover span .fa-check-circle, .centre .carte .menu .plats .turbot:hover span .fa-check-circle, .centre .carte .menu .plats .parmentier:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .filet:hover .droite h2, .centre .carte .menu .plats .turbot:hover .droite h2, .centre .carte .menu .plats .parmentier:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .plats .filet:hover .gauche, .centre .carte .menu .plats .turbot:hover .gauche, .centre .carte .menu .plats .parmentier:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .plats .filet:hover .gauche h2, .centre .carte .menu .plats .turbot:hover .gauche h2, .centre .carte .menu .plats .parmentier:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .filet:hover .gauche p, .centre .carte .menu .plats .turbot:hover .gauche p, .centre .carte .menu .plats .parmentier:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .parmentier {
  animation: apparition 1800ms 1700ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .parmentier .gauche {
  width: 63%;
}
.centre .carte .menu .plats .parmentier .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .parmentier .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .plats .parmentier .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .parmentier .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .plats .parmentier .droite {
  display: flex;
}
.centre .carte .menu .plats .parmentier .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .parmentier .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .plats .parmentier .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .plats .parmentier .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats .parmentier:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .parmentier:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .parmentier:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .plats .parmentier:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .plats .parmentier:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .parmentier:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .turbot {
  animation: apparition 1800ms 2000ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .plats .turbot .gauche {
  width: 63%;
}
.centre .carte .menu .plats .turbot .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .turbot .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .plats .turbot .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .turbot .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .plats .turbot .droite {
  display: flex;
}
.centre .carte .menu .plats .turbot .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .plats .turbot .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .plats .turbot .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .plats .turbot .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .plats .turbot:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .plats .turbot:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .plats .turbot:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .plats .turbot:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .plats .turbot:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .plats .turbot:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts {
  transform: translateY(-10%);
  transition: transform 1200ms ease-in 2600ms;
}
.centre .carte .menu .desserts #text3 {
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
@media (max-width: 999px) {
  .centre .carte .menu .desserts #text3 {
    animation: refresh 1ms infinite;
  }
}
.centre .carte .menu .desserts p {
  font-size: 16px;
}
.centre .carte .menu .desserts .paris {
  padding-left: 10px;
  margin: 0px 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 2600ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .paris .gauche {
  width: 63%;
}
.centre .carte .menu .desserts .paris .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .paris .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .desserts .paris .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .paris .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .desserts .paris .droite {
  display: flex;
}
.centre .carte .menu .desserts .paris .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .paris .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .desserts .paris .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .desserts .paris .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .desserts .paris:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .paris:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .paris:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .desserts .paris:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .desserts .paris:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .paris:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .macaron {
  padding-left: 10px;
  margin: 0px 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 2900ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .macaron .gauche {
  width: 63%;
}
.centre .carte .menu .desserts .macaron .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .macaron .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .desserts .macaron .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .macaron .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .desserts .macaron .droite {
  display: flex;
}
.centre .carte .menu .desserts .macaron .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .macaron .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .desserts .macaron .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .desserts .macaron .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .desserts .macaron:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .macaron:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .macaron:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .desserts .macaron:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .desserts .macaron:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .macaron:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .mousse {
  padding-left: 10px;
  margin: 0px 10px 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 6px 10px -5px #c9c9c9;
  border-radius: 10px;
  animation: apparition 1800ms 3200ms;
  animation-fill-mode: backwards;
  overflow: hidden;
}
.centre .carte .menu .desserts .mousse .gauche {
  width: 63%;
}
.centre .carte .menu .desserts .mousse .gauche h2 {
  font-size: 16px;
  margin-bottom: -10px;
  margin-right: 4px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .mousse .gauche h2 {
    font-size: 15px;
  }
}
.centre .carte .menu .desserts .mousse .gauche p {
  font-size: 13px;
  white-space: nowrap;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .mousse .gauche p {
    font-size: 12px;
  }
}
.centre .carte .menu .desserts .mousse .droite {
  display: flex;
}
.centre .carte .menu .desserts .mousse .droite h2 {
  font-size: 14px;
  margin-top: 35px;
  transform: translateX(38px);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  margin-right: 4px;
}
@media (max-width: 299px) {
  .centre .carte .menu .desserts .mousse .droite h2 {
    font-size: 13px;
  }
}
.centre .carte .menu .desserts .mousse .droite span {
  background-color: #99E2D0;
  width: 32px;
  height: 39px;
  transform-origin: right 50%;
  transform: scaleX(0);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  padding-top: 24px;
  padding-left: 9px;
}
.centre .carte .menu .desserts .mousse .droite .fa-check-circle {
  color: white;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  animation-fill-mode: backwards;
}
.centre .carte .menu .desserts .mousse:hover span {
  transform: scaleX(1);
}
.centre .carte .menu .desserts .mousse:hover span .fa-check-circle {
  transform: rotate(0deg);
}
.centre .carte .menu .desserts .mousse:hover .droite h2 {
  transform: translateX(0px);
}
.centre .carte .menu .desserts .mousse:hover .gauche {
  animation: reduction 1s;
}
.centre .carte .menu .desserts .mousse:hover .gauche h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.centre .carte .menu .desserts .mousse:hover .gauche p {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 999px) {
  .centre .carte .menu {
    display: initial;
  }
}
.centre .carte .btn a {
  background: linear-gradient(#FF79DA, 50%, #9356DC);
  box-shadow: 0px 10px 16px -10px rgba(97, 97, 97, 0.83);
  border-radius: 20px;
  padding: 14px 20px 14px 20px;
  width: 6%;
  color: #f5f5f5;
  font-size: 13px;
  text-decoration: none;
}
.centre .carte .btn a:hover {
  filter: brightness(1.1);
  box-shadow: 0px 10px 16px -5px rgba(97, 97, 97, 0.83);
}
@media (max-width: 999px) {
  .centre .carte .btn {
    margin-left: 50%;
  }
}
@media (max-width: 850px) {
  .centre .carte .btn {
    margin-left: 40%;
  }
}
@media (max-width: 350px) {
  .centre .carte .btn {
    margin-left: 35%;
  }
}
@media (max-width: 330px) {
  .centre .carte .btn {
    margin-left: 27%;
  }
}
@media (max-width: 999px) {
  .centre .carte {
    height: 955px;
    width: 96%;
    position: relative;
    margin-top: 55%;
    border-radius: 40px 40px 0 0;
    padding-top: 20px;
  }
}
@media (max-width: 320px) {
  .centre .carte {
    width: 95%;
  }
}

.menu + a {
  text-decoration: none;
}

@media (max-width: 999px) {
  footer {
    width: 96%;
    margin-top: 5px;
  }
}
@media (max-width: 320px) {
  footer {
    width: 95%;
  }
}

/*# sourceMappingURL=palette.css.map */
