@import "base/fonts";
@import "utils/variables";
@import "utils/keyframes";
@import "layout/footer";

// Header
header {
    background-color: $background;
    border-radius: 15px 15px 0 0;
    display: flex;
    padding: 10px 0 0 20px;
    & .fa-arrow-left {
        color: black;
        margin: 20px 30px 0 0;
    }
    @media (max-width: 360px) {
        .fa-arrow-left {
            margin-top: 15px;
        }
    }
    @media (max-width: 300px) {
        .fa-arrow-left {
            margin-top: 10px;
        }
    }
    & .logo {
        margin-bottom: 15px;
        padding-top: 10px;
        & #logo {
            width: 55%;
        }
    }
}
@media (max-width: 999px) {
    header {
        width: 96%;
        background-color: initial;
    }
}
@media (max-width: 320px) {
    header {
        width: 95%;
    }
}
// Centre de la page
.centre {
    & .image { // Image
        & #restaurant {
            width: 660px;
            margin-left: 175px;
        }
        @media (max-width: 999px) {
            #restaurant {
                width: 96%;
                margin-left: 2px;
                margin-top: -55%;
                position: absolute;
            }
        }
        @media (max-width: 320px) {
            #restaurant {
                margin-left: 1px;
                margin-top: -54%;
            }
        }
    }
    & .carte {
        width: auto;
        height: 415px;
        background-color: $background;
        border-radius: 0 0 15px 15px;
        padding-left: 20px;
        & .tete { // Titre du restaurant
            display: flex;
            & #coeur-bord {
                padding-top: 17px;
                margin-right: -21px;
                position: relative;
                z-index: 2;
                height: 17px;
                &:hover + #coeur{
                    opacity: 1; 
                }
            }
            & #coeur {
                padding-top: 17px;
                cursor: default;
                position: relative;
                z-index: 1;
                height: 17px;
                opacity: 0;
                transition: opacity 1000ms;
                background: linear-gradient($secondary-color, 50%, $primary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
            & p {
                font-family: Shrikhand;
                font-size: 30px;
                margin: 5px 20px 0 0;
            }
            @media (max-width: 999px) {
                p {
                    margin-bottom: 20px;
                }
            }
            @media (max-width: 372px) {
                p {
                    font-size: 27px;
                }
            }
            @media (max-width: 350px) {
                p {
                    font-size: 24px;
                }
            }
            @media (max-width: 318px) {
                p {
                    font-size: 22px;
                }
            }
            @media (max-width: 302px) {
                p {
                    font-size: 20px;
                }
            }
        }
        & .menu { // Déroulé du menu
            margin-top: 20px;
            margin-bottom: -20px;
            display: flex;
            & .entree { // Entrées
                transform: translateY(-10%);
                transition: transform 1200ms ease-in;
                & #text1 {
                    border-bottom: 3px solid $terciary-color;
                    width: 35px;
                }
                & p {
                font-size: 16px;
                }
                & .tartare { // Première entrée
                    padding-left: 10px;
                    margin: 0 10px 10px 0;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    box-shadow: 0px 6px 10px -5px rgba(201,201,201,1);
                    border-radius: 10px;
                    animation: apparition 1800ms 200ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                & .bouchee { // Seconde entrée
                    @extend .tartare;

                    margin-top: 0px;
                    animation: apparition 1800ms 500ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                & .veloute { // Troisième entrée
                    @extend .tartare;
                    
                    margin-top: 0px;
                    animation: apparition 1800ms 800ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            & .plats { // Plats
                transform: translateY(-10%);
                transition: transform 1200ms ease-in 1400ms;
                & #text2 {
                    border-bottom: 3px solid $terciary-color;
                    width: 35px;
                }
                & p {
                font-size: 16px;
                }
                & .poulet { // Premier plat
                    padding-left: 10px;
                    margin: 0 10px 10px 0;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    box-shadow: 0px 6px 10px -5px rgba(201,201,201,1);
                    border-radius: 10px;
                    animation: apparition 1800ms 1400ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                & .langouste { // Second plat
                    @extend .poulet;

                    animation: apparition 1800ms 1700ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                & .cote { // Troisième plat
                    @extend .poulet;
                    
                    animation: apparition 1800ms 2000ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            & .desserts { // Desserts
                transform: translateY(-10%);
                transition: transform 1200ms ease-in 2600ms;
                & #text3 {
                    border-bottom: 3px solid $terciary-color;
                    width: 35px;
                }
                @media (max-width: 999px) {
                    #text3 {
                        animation: refresh 1ms infinite;
                    }
                }
                & p {
                font-size: 16px;
                }
                & .farandole { // Premier dessert
                    padding-left: 10px;
                    margin: 0 10px 10px 0;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    box-shadow: 0px 6px 10px -5px rgba(201,201,201,1);
                    border-radius: 10px;
                    animation: apparition 1800ms 2600ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                & .creme { // Second dessert
                    padding-left: 10px;
                    margin: 0 10px 10px 0;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    box-shadow: 0px 6px 10px -5px rgba(201,201,201,1);
                    border-radius: 10px;
                    animation: apparition 1800ms 2900ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                & .tiramisu { // Troisième dessert
                    padding-left: 10px;
                    margin: 0 10px 10px 0;
                    display: flex;
                    justify-content: space-between;
                    background-color: white;
                    box-shadow: 0px 6px 10px -5px rgba(201,201,201,1);
                    border-radius: 10px;
                    animation: apparition 1800ms 3200ms;
                    animation-fill-mode: backwards;
                    overflow: hidden;
                    & .gauche {         
                        width: 63%;
                        & h2 {
                            font-size: 16px;
                            margin-bottom: -10px;
                            margin-right: 4px;
                            white-space: nowrap; 
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 15px;
                            }
                        }
                        & p {
                            font-size: 13px;
                            white-space: nowrap;
                        }
                        @media (max-width: 299px) {
                            p {
                                font-size: 12px;
                            }
                        }
                    }
                    & .droite {
                        display: flex;
                        & h2 {
                            font-size: 14px;
                            margin-top: 35px; 
                            transform: translateX(38px);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            margin-right: 4px;
                        }
                        @media (max-width: 299px) {
                            h2 {
                                font-size: 13px;
                            }
                        }
                        & span {
                            background-color: $terciary-color;
                            width: 32px;
                            height: 39px;
                            transform-origin: right 50%;
                            transform: scaleX(0);
                            transition: transform 1000ms cubic-bezier(.32,0,.07,1);
                            padding-top: 24px;
                            padding-left: 9px;
                            
                        }
                        & .fa-check-circle {
                            color: white;
                            transform: rotate(-360deg);
                            transition: transform 500ms ease-in-out;
                            animation-fill-mode: backwards;
                        }
                    }
                    &:hover span {
                        transform: scaleX(1);
                        .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                    &:hover .droite h2 {
                        transform: translateX(0px)
                    }
                    &:hover .gauche {
                        animation: reduction 1s;
                    }
                    &:hover .gauche h2 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:hover .gauche p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        @media (max-width: 999px) {
            .menu {
                display: initial
            }
        }
        & .btn {
            & a {
                background: linear-gradient($secondary-color, 50%, $primary-color);
                box-shadow: 0px 10px 16px -10px rgba(97,97,97,0.83);
                border-radius: 20px;
                padding: 14px 20px 14px 20px;
                width: 6%;
                color: #f5f5f5;
                font-size: 13px;
                text-decoration: none;
                &:hover {
                    filter: brightness(1.10);
                    box-shadow: 0px 10px 16px -5px rgba(97,97,97,0.83);
                }
            }
        }
        @media (max-width: 999px) {
            .btn {
                margin-left: 50%;
            }
        }
        @media (max-width: 850px) {
            .btn {
                margin-left: 40%;
            }
        }
        @media (max-width: 350px) {
            .btn {
                margin-left: 35%;
            }
        }
        @media (max-width: 330px) {
            .btn {
                margin-left: 27%;
            }
        }
    }
    @media (max-width: 999px) {
        .carte {
            height: 955px;
            width: 96%;
            position: relative;
            margin-top: 55%;
            border-radius: 40px 40px 0 0;
            padding-top: 20px;
        }
    }
    @media (max-width: 320px) {
        .carte {
            width: 95%;
        }
    }
}
.menu + a {
    
    text-decoration: none;
}
@media (max-width: 999px) {
    footer {
        width: 96%;
        margin-top: 5px;
    }
}
@media (max-width: 320px) {
    footer {
        width: 95%;
    }
}